In [1]:
import pandas as pd

In [3]:
s = pd.Series([10, 20, 30], index=["a", "b", "c"])
print(s)

a    10
b    20
c    30
dtype: int64

In [5]:
data = {"Name": ["Alice", "Bob"], "Age": [25, 30]}
df = pd.DataFrame(data)
print(df)

    Name  Age
0  Alice   25
1    Bob   30

In [7]:
df = pd.DataFrame({"A": [1, 2], "B": [3, 4]})
df

   A  B
0  1  3
1  2  4

In [9]:
df = pd.DataFrame([[1, 2], [3, 4]], columns=["A", "B"])
print(df)

   A  B
0  1  2
1  3  4